<h1>Login</h1>

<form action="/authentication/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" placeholder="Username"><br>
    <label>Password:</label>
    <input type="text" name="password" placeholder="Password"><br>
    <button>Login</button>
</form>

<!-- <h1>This is Home Page</h1>
<li><a href='/register'>Sign Up!</a></li>
<li><a href='/login'>Login</a></li>
<li><a href='/logout'>Logout</a></li> -->