<head>

    <link rel="stylesheet" src="./css/main.css">
</head>
<body>
    <h1>Verdict Page</h1>

    <!-- <img class="bg" src="/image/ctf.png" alt=""> -->
    <%=message%>
    <br><br>
    <a href="/question/contest/<%=id%>">Back to Question</a>

    <br><br><a href="/profile">View Profile</a>
</body>